$yellow: #ffc62c;
$dark-yellow: #ffc62c;
$vod-text-color: #cb8b31;
$orange: #d46d1a;

@font-face {
  font-family: 'cooper';
  src: url('../fonts/Cooper Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'helvetica-rounded';
  src: url('../fonts/HelveticaRoundedBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}