.vod-container {
	text-align: center;
	height: 100%;
	padding: 3% 3% 1%;
	color: $vod-text-color;
	margin-left: 640px;
	@media (max-width: 850px)  { margin: 0 auto; padding: 3% 0 0; width: 640px;}
	h2, h3 {
		padding: 0 0 2%;
		text-transform: uppercase;
		font-family: 'helvetica-rounded';
		font-weight: lighter;
	}
	h1 {
		font-family: 'cooper';
		font-size: 43px;
		line-height: 43px;
		letter-spacing: -1px;
	}
	h2 {
		font-size: 18px;
		border-bottom: 1px solid $vod-text-color;
	}
	h3 {
		font-size: 13px;
		font-weight: lighter;
	}
	.skillet, .commercials, .container {
		padding-top: 15px;
	}
	.video-large {
		width: 96%;
		margin: 0 auto;
		@media (max-width: 850px)  { width: 60%; padding: 2% 0;}
	}
	.video {
		width: 48%;
		display: inline-block;
		@media (max-width: 850px)  { width: 30%; padding: .5% 1%; margin: 0 2%;}
	}
	.social {
		padding: 15px 0 0;
		@media (max-width: 850px)  { margin: 0 0 7%;}
			a {
			border-radius: 50%;
			height: 30px;
			width: 30px;
			background: $vod-text-color;
		}
	}
}